#menu-content {
    transition: 1s;
    background-color: var(--color-grey);
    color: var(--color-white);
    height: 100%;
}

.menu-hidden {
    width: 0;
}

.menu-visible {
    width: 20rem;
}

.list {
  background-color:black;
  height: 50%;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}