#menu-content {
    transition: 1s;
    background-color: var(--color-blue-main);
    color: var(--color-white);
    height: 100%;
}

.menu-hidden {
    width: 0;
}

.menu-visible {
    width: 15rem;
}

.category-list {
  /* background-color:black; */
  height: 50%;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.5rem;
}

.category {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}