<div id="menu-content" class="menu-hidden">
  <div class="category-list">
    <div class="category" routerLink="/login-form" routerLinkActive="active">Psy</div>
    <div class="category" routerLink="/login-form" routerLinkActive="active">Przewodnicy</div>
    <div class="category" routerLink="/login-form" routerLinkActive="active">Treningi</div>
    <div class="category" routerLink="/login-form" routerLinkActive="active">Wydarzenia</div>
    <div class="category" routerLink="/login-form" routerLinkActive="active">Certyfikaty</div>
    <br>
    <div class="category" routerLink="/login-form" routerLinkActive="active">Login</div>
    <div class="category" routerLink="" routerLinkActive="active">Home</div>
  </div>

<!-- <h1>Angular Router - Test</h1> -->
 <!-- <nav>
  <a routerLink="/login-form" routerLinkActive="active">Login</a>
</nav> -->
<!--<router-outlet></router-outlet> -->
</div>