<div class="header-container">
  <div id="menu-content">
    <div class="category-list">
      <div class="category" routerLink="/dogs" routerLinkActive="active">Psy</div>
      <div class="category" routerLink="/login-form" routerLinkActive="active">Przewodnicy</div>
      <div class="category" routerLink="/login-form" routerLinkActive="active">Treningi</div>
      <div class="category" routerLink="/login-form" routerLinkActive="active">Wydarzenia</div>
      <div class="category" routerLink="" routerLinkActive="active">Certyfikaty</div>
    </div>
  </div>
  <!-- TODO: move to footer -->
  <!-- <div class="icons">
    <div class="kgt-icon">
      <fa-icon [icon]="faKgtIcon"></fa-icon>
    </div>
    <div class="fb-icon">
      <fa-icon [icon]="faFbIcon"></fa-icon>
    </div>
    <div class="instagram-icon">
      <fa-icon [icon]="faInstagramIcon"></fa-icon>
    </div>
  </div> -->
  <div class="buttons">
    <button class="login-button" (click)="login()">Zaloguj</button>
    <button class="registry-button">Zarejestruj</button>
  </div>
</div>