.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background-color: var(--color-blue-main);
  color: var(--color-white);
  padding: 0 0.5rem;
}

.category-list {
  display: flex;
}

/* TODO: add hover and focus */
.category {
  padding: 0 1rem;
  font-size: 1.2rem;
  display: flex;
}

.category fa-icon + span {
  margin-left: 0.3rem;
}

.buttons {
  display: flex;
}

.buttons > * {
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}
