<div class="header-container">
  <div class="menu" (click)="toggleMenu()">
    <div id="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="menu-text">Menu</div>
  </div>
  <div class="icons">
    <div class="kgt-icon">
      <fa-icon [icon]="faKgtIcon"></fa-icon>
    </div>
    <div class="fb-icon">
      <fa-icon [icon]="faFbIcon"></fa-icon>
    </div>
    <div class="instagram-icon">
      <fa-icon [icon]="faInstagramIcon"></fa-icon>
    </div>
  </div>
  <div class="buttons">
    <button class="login-button">Zaloguj</button>
    <button class="registry-button">Zarejestruj</button>
  </div>
</div>